/* PrimeNG Theme */

@import "primeicons/primeicons.css";

/* Custom Tech Theme */
body {
  background-color: #0f172a; /* dark navy */
  color: #e2e8f0;
  font-family: Arial, sans-serif;
}

.card-dark {
  background: #1e293b;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 200, 255, 0.1);
}

.highlight {
  color: #38bdf8;
}